In [1]:
# import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import CSV into pandas dataframes
measurements_df = pd.read_csv("Resources/hawaii_measurements.csv")
stations_df = pd.read_csv("Resources/hawaii_stations.csv")

In [3]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
measurements_df[pd.isnull(measurements_df).any(axis=1)]

           station        date  prcp  tobs
4      USC00519397  2010-01-06   NaN    73
26     USC00519397  2010-01-30   NaN    70
29     USC00519397  2010-02-03   NaN    67
43     USC00519397  2010-02-19   NaN    63
61     USC00519397  2010-03-11   NaN    73
...            ...         ...   ...   ...
19532  USC00516128  2017-08-06   NaN    79
19537  USC00516128  2017-08-11   NaN    72
19539  USC00516128  2017-08-13   NaN    80
19544  USC00516128  2017-08-18   NaN    76
19546  USC00516128  2017-08-20   NaN    78

[1447 rows x 4 columns]

In [6]:
len(measurements_df)

19550

In [7]:
stations_df[pd.isnull(stations_df).any(axis=1)]

Empty DataFrame
Columns: [station, name, latitude, longitude, elevation]
Index: []

In [8]:
measurements_df.to_csv("Resources\clean_measurements.csv", index = False)

In [9]:
stations_df.to_csv("Resources\clean_stations.csv", index = False)